body {
    padding-left: 20px;
}

header {
    padding-left: 0px;
}
.content {
    margin-left: 80px;
}

.save {
    float: right;
}

. {
    margin-bottom: 70px;
}

td {
    float: left;
    text-align: left;
    width: 150px;
    margin: 0px;
}

th {
    float: left;
    width: 150px;
    text-align: left;
    margin: 0px;
}

.mdl-navigation {
    float: left;
}

.demo-layout-transparent {
    background: url('https://i.pinimg.com/originals/08/db/50/08db50e90e51c5929a3217c9ad94c383.jpg') center / cover;
  }

.mdl-data-table mdl-js-data-table mdl-shadow {
    border-collapse: collapse;
    width: 100%;
}
