body {
    padding-left: 20px;
}

header {
    padding-left: 0px;
}
.content {
    margin-left: 80px;
}

.save {
    float: right;
}

. {
    margin-bottom: 70px;
}

td {
    float: left;
    text-align: left;
    width: 150px;
    margin: 0px;
}

th {
    float: left;
    width: 150px;
    text-align: left;
    margin: 0px;
}