body {
    padding-left: 20px;
}

header {
    padding-left: 0px;
}
.content {
    margin-left: 80px;
}

.save {
    float: right;
}

. {
    margin-bottom: 70px;
}

td {
    margin: 0px;
}

th {
    margin: 0px;
}

.mdl-navigation {
    float: left;
}

.demo-layout-transparent {
    background: url('https://i.pinimg.com/originals/08/db/50/08db50e90e51c5929a3217c9ad94c383.jpg') center / cover;
  }

  .mdl-card>.mdl-card__title {
      color: #fff;
      background: url("{{ prof.banner_url }}") center / cover;
  }

  .mdl-card>.mdl-card__media>.avatar {
      width: 50%;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20%;
  }

  .mdl-card>.mdl-card__supporting-text {
      padding: 25px;
  }
