{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h4><strong>All Logs for: {{ user.user__username }}</strong></h4>

<table class="table">
    <tr>
        <thS>Date</th>
        <thS>Type</th>
        <th>Weight</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Total Reps</th>
        <th>Total Weight</th>
    </tr>
    {% for x in userLogs %}
    <tr>
        <tdS>{{ x.date_completed }}</td>
        <tdS>{{ x.workout_title }}</td>
        <td>{{ x.weight }}</td>
        <td>{{ x.sets }}</td>
        <td>{{ x.reps }}</td>
        <td>{{ x.total }}</td>
        <td>{{ x.totalWeight }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}