{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h4><strong>All time recorded:</strong></h4>
<div style="overflow-x:auto;">
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th>Username</th>
            <th>Date</th>
            <th>Exercise</th>
            <th>Weight</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Total Reps</th>
            <th>Total Weight</th>
        </tr>
        {% for x in logs %}
        <tr>
            <td><a href="{% url 'log_detail' pk=x.pk %}">{{ x.id }}</a></td>
            <td><a href="{% url 'user_logs' user_id=x.user_id %}">{{ x.user }}</a></td>
            <td>{{ x.date_completed }}</td>
            <td>{{ x.workout_title }}</td>
            <td>{{ x.weight }}</td>
            <td>{{ x.sets }}</td>
            <td>{{ x.reps }}</td>
            <td>{{ x.total }}</td>
            <td>{{ x.totalWeight }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}