{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h3>Competitions:</h3>
<p>Current list of open competitions</p>
<div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tr>
            <th>Competition Name</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        {% for x in competitions %}
        <tr>
            <td><a href="{% url 'comp_entry' compName_id=x.pk %}">{{ x.compName }}</a></td>
            <td>{{ x.startDate }}</td>
            <td>{{ x.endDate }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</div>