{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h4><strong>Competitions:</strong></h4>
<p>Current list of open competitions</p>
<div>
    <table class="table">
        <tr>
            <th>Competition Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
        </tr>
        {% for x in competitions %}
        <tr>
            <td><a href="{% url 'comp_entry' compName_id=x.pk %}">{{ x.compName }}</a></td>
            <td>{{ x.startDate }}</td>
            <td>{{ x.endDate }}</td>
            {% if x.over %}
                <td><i class="material-icons" style="color: #DE1738;">clear</i></td>
            {% else %}
            <td><i class="material-icons" style="color: #39FF14;">done</i></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</div>