{% extends 'tracker/base.html' %}
{% block content %}
<h3><strong>{{ compName.compName__compName }}</strong></h3>

{{ sDate.end }}

{% for x in sDate %}
<h5><strong>Start Date: </strong>{{ x.startDate }}</h5>
<h5><strong>End Date: </strong>{{ x.endDate }}</h5>
{% endfor %}

<strong>Members:</strong> (add new <a href="{% url 'join_comp' compName_id=compName_id %}">here</a>)
{% for x in memberNames %}
<li>{{ x.user__username }}</li>
{% endfor %}
<br>
<p>The following are <strong>REQUIRED</strong> to complete {{ compName.compName__compName }}</p>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Workout</th>
        <th>Total Reps</th>
    </tr>
    {% for x in compEntries %}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">{{ x.workout_title }}</td>
        <td>{{ x.totalReps }}</td>
    </tr>
    {% endfor %}
</table>

<h4>Progress:</h4>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">User</th>
        <th class="mdl-data-table__cell--non-numeric">Workout</th>
        <th>Total</th>
    </tr>
    {% for x in progSetSum %}
    <tr>
        <td class="mdl-data-table__cell--non-numeric">{{ x.user__username }}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ x.workout_title__workout_title }}</td>
        <td>{{ x.total }}</td>
        {% endfor %}
        {% endblock %}
    </tr>
</table>