{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h3>Results:</h3>
<p>Total push ups completed between 11.27.18 and 12.31.18</p>
<div>
  <table class="table">
    <tr>
      <th>Username</th>
      <th>Total Push Ups</th>
    </tr>
    {% for x in totalPushUps %}
    {% if x.user__username == leader.user__username %}
    <tr>
      <td><i class="material-icons">outlined_flag </i>{{ x.user__username }}</td>
      <td>{{ x.total }}</td>
    </tr>
    {% else %}
    <tr>
      <td>{{ x.user__username }}</td>
      <td>{{ x.total }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endblock %}