{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h3>Days remaining in competition: {{ daysRemaining }}</h3>
<table>
  <tr>
    <th>Username</th>
    <th>User ID</th>
  </tr>
  {% for x in users %}
  <tr>
    <td>{{ x.username }}</td>
    <td>{{ x.id }} </td>
  </tr>
  {% endfor %}
</table>
<br>
<table>
  <tr>
    <th>User ID</th>
    <th>Remaing Push Ups</th>
  </tr>
  {% for x in remainingPushUps %}
  <tr>
    <td>{{ x.user }}</td>
    <td>{{ x.total }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}