{% extends 'tracker/base.html' %}
{% block content %}
<h3><strong>{{ compName.compName__compName }}</strong></h3>

{{ sDate.end }}

{% for x in sDate %}
<h5><strong>Start Date: </strong>{{ x.startDate }}</h5>
<h5><strong>End Date: </strong>{{ x.endDate }}</h5>
{% endfor %}

<strong>Members:</strong> (add new <a href="{% url 'join_comp' compName_id=compName_id %}">here</a>)

<ul class="list-group list-group-flush">
    {% for x in memberNames %}
    <li class="list-group-item">{{ x.user__username }}</li>
    {% endfor %}
</ul>

<br>
<p>The following are <strong>REQUIRED</strong> to complete {{ compName.compName__compName }}</p>

<table class="table">
    <tr>
        <th>Workout</th>
        <th>Total Reps</th>
    </tr>
    {% for x in compEntries %}
    <tr>
        <td>{{ x.workout_title }}</td>
        <td >{{ x.totalReps }}</td>
    </tr>
    {% endfor %}
</table>

<h4>Progress:</h4>

<table class="table">
    <tr>
        <th>User</th>
        <th>Workout</th>
        <th>Total</th>
    </tr>
    {% for x in progSetSum %}
    <tr>
        <td>{{ x.user__username }}</td>
        <td>{{ x.workout_title__workout_title }}</td>
        <td>{{ x.total }}</td>
        {% endfor %}
        {% endblock %}
    </tr>
</table>