{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h4>Log detail for entry: {{ log.id }}</h4>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Date</th>
            <th>Workout Title</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Total Reps</th>
            <th>Total Weight</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ log.id }}</td>
            <td><a href="{% url 'user_logs' user_id=log.user_id %}">{{ log.user }}</a></td>
            <td>{{ log.date_completed }}</td>
            <td>{{ log.workout_title }}</td>
            <td>{{ log.sets }}</td>
            <td>{{ log.reps }}</td>
            <td>{{ log.total }}</td>
            <td>{{ log.totalWeight }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}