{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h4><strong>Enter New Workout Type:</strong></h4>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Save</button>
</form>

<h5><strong>Saved Exercises:</strong></h5>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Exercise Name</th>
    </tr>
    {% for x in exerciseList %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{ x.workout_title }}</td>
        </tr>
    {% endfor %}    
</table>

{% endblock %}