{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h4><strong>Enter New Workout Type:</strong></h4>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Save</button>
</form>

<h5><strong>Saved Exercises:</strong></h5>

<table class="table">
    <tr>
        <th>Exercise Name</th>
        <th>Link</th>
    </tr>
    {% for x in exerciseList %}
        <tr>
            <td>{{ x.workout_title }}</td>
            <td><a href = "{{ x.workout_url }}">Link</a></td>
        </tr>
    {% endfor %}    
</table>

{% endblock %}