{% extends 'tracker/base.html' %}
{% block content %}
<br>
<h4><strong>Last 50 Recorded:</strong></h4>
<p>See all <a href="{% url 'all_logs'%}">here</a>.</p>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th>Date</th>
        <th>Exercise</th>
        <th>Weight</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Total Reps</th>
        <th>Total Weight</th>
      </tr>
    </thead>
    {% for x in logs %}
    <tbody>
      <tr>
        <td><a href="{% url 'user_logs' user_id=x.user_id %}">{{ x.user }}</a></td>
        <td>{{ x.date_completed }}</td>
        <td>{{ x.workout_title }}</td>
        <td>{{ x.weight }}</td>
        <td>{{ x.sets }}</td>
        <td>{{ x.reps }}</td>
        <td>{{ x.total }}</td>
        <td>{{ x.totalWeight }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
